<div class="index-box">
  <section>
    <h1>(￣へ￣)</h1>
    <div style="padding-top:1rem;">
      <a href="/user/register"><button type="button" class="btn btn-default">注册</button></a>
      <a href="/user/login"><button type="button" class="btn btn-default">登陆</button></a>
    </div>
  </section>
  <section>
   {{txt}}
  </section>
</div>
