<header class="index-header">
  个人中心
  <span><a href="/">退出</a></span>
  <span><a href="register"></a></span>
</header>  
<section>
  <div>
    <!--我的资料-->
    <div class="my-info">
      <label>用户名:</label>
      <span><img src="/{{info.portrait}}"></span>
    </div>
    <div class="my-info">
      <label>用户名:</label>
      <span>{{info.name}}</span>
    </div>
    <div class="my-info">
      <label>分类:</label>
      <span>{{info.raceCn}}</span>
    </div>
    <div class="my-info">
      <label>邮箱:</label>
      <span>{{info.email}}</span>
    </div>
    <!--我的导航-->
    <div></div>
  </div>
</section>