<header class="index-header">上传头像
  <span><a href="logout">退出</a></span>
  <span>{{cat}}</span>
</header> 
<section>
  <div class="portrait-box">
    <form method="post" action="" enctype="multipart/form-data">
      <div class="portrait-in-box">
        <img src="/{{path}}">
        <input class="upportrait" name="upfile" type="file">
	  </div>
	  <div>
	    <button type="submit"  class="btn .mt full-btn btn-default">确定</button>
	  </div>
	  
	</form>
  </div>
</section>




