*{ margin:0; padding:0;}
html,body{
  height: 100%;
  width: 100%;
}
body{font:14px "Lucida Grande", Helvetica, Arial, sans-serif;color:#444;}
ol,ul{list-style: none}
a{color: #444;}
header a{color:#fff}
p{margin:20px;}
.mt{
  margin-top: 20px;
}
.portraitbox img{width:100%;height:100%;}
.index-box{
  display: -webkit-flex; /* Safari */
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.index-box section{
  text-align: center;
}
/*头部条*/
.index-header{    
  height: 5rem;
  background: #444;
  color: #fff;
  line-height: 5rem;
  padding-left: 5rem;
  font-size: 2rem;
}
.index-header span{
  font-size: 1rem;
  float: right;
  padding-right: .8rem;  
}
/*用户表单*/
.user-form{
  padding-left: 5rem;
  margin-top: 5rem; 
}
.user-form-field{
  display: -webkit-flex; /* Safari */
  display: flex; 
  padding: 1rem 0; 
}
.user-form-field label{
  width: 100px;
  text-align: right;  
}
.user-form-field span{
  flex :1;
}
.user-form-field input{
  padding: .2rem .3rem;
  border-radius: 3px;
}
input::-webkit-input-placeholder {
　color: #aaa !important;
}
.portrait-box{
  margin: 0 auto;
  width: 200px;
  margin-top: 4rem;
}
/*头像*/

.portrait-in-box{
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 200px;
  background:url('../images/noportrait.jpg') no-repeat center center;
  background-size:100% 100%;
}
.upportrait{
  opacity: 0;
  position: absolute;
  display:block;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
}
.portrait-in-box img{
  width: 200px;
  height: 200px; 
  position: absolute;
  top: 0;
  left: 0;
}
.full-btn{
  width: 100%;  
}
.intomain{
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  background: #444;
  position:fixed;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 2rem;
  border-radius:10rem 0px 0px 0px; 
}
.intomain a{ 
  color: #fff;
}
.my-info{
  display: -webkit-flex; /* Safari */
  display: flex;
  padding: 0 2rem;
}
.my-info label{
  width: 70px;  
}
.my-portrait-box{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  overflow: hidden; 
  margin: 0 0 2rem;
}
.my-portrait-box img{
  width: 100%;
  height: 100%;  
}
.my-left{
  float:left;
  background:#f7f7f7;
  padding: 2rem 1rem;
  border-radius:0rem 2rem 2rem 0rem;
  margin-top: 7rem;
  box-shadow: 1px 1px 1px #aaa;
}
.my-right{
  float: right;
  background:#f7f7f7;
  padding: 2rem 1rem;
  border-radius:2rem 0rem 0rem 2rem;
  margin-top: 15rem;
  box-shadow: 1px 1px 1px #aaa;
}
.my-right li{
  padding: 1rem 0;
  border-bottom: 1px solid #ccc  
}
.my-right li a{
  color: #e2a01b;  
}
.my-news{
}
