<h2>添加一个你所知道的巨魔氏族，让我们一起揭开巨魔这一古老物种的神秘面纱</h2>
<form method="post" action="addsubmit" enctype="multipart/form-data">
<div class="field-block">
 <label>氏族名称</label>
 <div>
   <input name="name" type="text">
 </div>
<div>
<div class="field-block">
 <label>分布地区</label>
 <div>
   <input name="distribution" type="text">
 </div>
<div>
<div class="field-block">
 <label>所属亚种</label>
 <div>
   <select name="classification">
     <option>丛林巨魔</option>
     <option>森林巨魔</option>
   </select>
 </div>
<div>
<div class="field-block">
 <label>概况描述</label>
 <div>
   <textarea name="describe"></textarea>
 </div>
<div>
<div class="field-block">
 <label>上传图片</label>
 <div>
   <input name="picture" type="file">
 </div>
<div>
<input type="submit">
</form>